<h1>New Lit </h1>


<div class="lit-model">
<button type="button" class="btn btn-light">
<%= render 'form', lit: @lit %>
</button>
</div>

<button type="button" class="btn btn-light">
<%= link_to 'Back', lits_path %>
</button>
