/*
*= require_tree .
*= require_self

*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

 body {
 font-family: 'Montserrat', sans-serif;
 background-size: cover;
 }

 .lit-model {
   display: flex;
   justify-content: center;
   height: 100%;
   width: 100%;
 }

 .jingle {
   margin-right: 3em;
 }

h1 {
 text-align: right;
}
.lit-msg {
  font-size: 1em;
  text-align: right;
}

h2 {
  font-size: 1.6em;
}
nav a {
 padding-left: 35px;
 padding-right: 35px;
}

h3 {
 font-family: 'monospace';
 font-size: 1em;
 text-decoration: underline;
}

h4 {
  font-family: 'monospace';
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 0.5em;
  margin-top: 1.2em;
}

#newlitbutt, #indexdelete {
  float: right;
}

.logo {
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}
