/*
*= require_tree .
*= require_self

*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

 body {
 font-family: 'Montserrat', sans-serif;
 background-size: cover;
 background-color: #FDFEFE;
 }

 .jingle {
   margin-right: 2em;

 }

h1 {
 text-align: right;
}
.lit-msg {
  font-size: 1em;
  text-align: right;
}

h2 {
  font-size: 1.6em;
}

nav a {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

h3 {
 font-family: 'monospace';
 font-size: 1em;
 text-decoration: underline;
}

h4 {
  font-family: 'monospace';
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 0.5em;
  margin-top: 1.2em;
}

#newlitbutt, #btn-btn-light1{
  float: right;
}

.lit {

   background: #fff;
   border-radius: 8px;
   border: 1px solid #d3d3d3;
   box-shadow: 3px 3px #888888;
   color: #14171a;
   font-size: 14px;
   line-height: 20px;
   width: 80%;
   padding: 20px;
   margin-left: 10%;
   margin-right: 10%;
   /* margin: 10px; */

}

.row {
  border: black 1em;
}

.footercopy {
  background-color: #f8f9fa;
  text-align: center;
  margin-top: 30em;
}
